<div class="card-header"> 
    <img class="country-flag" src="{{flags.svg}}" alt="{{name.official}}">
    <h2 class="county-name">{{name.official}}</h2>
</div>
<p class="country-properties"><span>Capital: </span>{{capital}}</p>
<p class="country-properties"><span>Population: </span>{{population}}</p>
<p class="country-properties"><span>Languages: </span>{{#each languages}} "{{this}}"  {{/each}}</p>